:root {
  --background-color: #3d3e3e;
  --primary-text-color: #f5f5f5;
  --darker-text-color: #d2d2d2;
  --black-text-color: #121212;
  --border-color: #282828;
  --transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Lora", sefif;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  height: 200rem;
  overflow-x: hidden;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.radius {
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 1.6rem;
}

/* 
  Section Hero
*/

.section-hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #121a1eb1, #cccccc3f),
    url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(4px);
  border-bottom: 2px solid var(--border-color);
  position: relative;
}

.container {
  margin: 0 6.4rem;
  align-items: center;
}

.logo {
  width: 9.6rem;
  height: 6.4rem;
  margin: 1.6rem;
}

.menu {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5.6rem;
  list-style: none;
}

.menu__item {
  padding: 0.8rem 2.4rem;
  /* box-shadow: 0 1px 0 #000; */
  transition: all var(--transition);
}

.menu__link:link,
.menu__link:visited {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: all var(--transition);
}

.menu__link:hover,
.menu__link:active {
  color: #fff;
}

.user {
  justify-self: end;
  display: flex;
  gap: 2.4rem;
}

.user__cart,
.user__account,
.mobile-menu,
.close-menu {
  text-decoration: none;
  text-align: center;
  min-width: 5.6rem;
  padding: 0.8rem 2.4rem;
  transition: all var(--transition);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__item:hover,
.user__cart:hover,
.user__account:hover,
.mobile-menu:hover,
.close-menu:hover {
  box-shadow: 0 1px 0 var(--primary-text-color);
}

.mobile-menu,
.close-menu {
  width: 6.4rem;
  display: none;
}

.icon {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  right: 4.8rem;
  transform: translateY(-50%);
  width: 35%;
  color: var(--primary-text-color);
  text-shadow: 0 0 3.2rem #000;
}

.hero-text__title {
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
  width: fit-content;
  position: relative;
}

.hero-text__content {
  line-height: 1.6;
  font-size: 1.4rem;
  color: var(--darker-text-color);
  padding: 1.2rem 0;
  border-top: 1px solid var(--primary-text-color);
  border-bottom: 1px solid var(--primary-text-color);
}

.hero-text__subtitle {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding-top: 1.2rem;
}

/* 
  Section Product
*/
.section-product {
  padding: 6.4rem 0;
  border-bottom: 2px solid var(--border-color);
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
}

.btn.category {
  padding: 1.2rem 3.6rem;
  margin: 0;
  border-radius: unset;
  border: 1px solid var(--border-color);
}

.wrapper-slider {
  width: 80%;
  margin: 0 auto;
  padding: 2.4rem 5.6rem;
  background: linear-gradient(var(--border-color), var(--background-color));
  border: 2px solid var(--border-color);
  position: relative;
}

.slider {
  height: 38rem;
  overflow-x: hidden;
}

.products {
  columns: 24rem 4;
  column-gap: 3.2rem;
  height: 100%;
  transition: all 1s;
}

.product {
  width: 100%;
  height: 100%;
  border: 2px solid var(--border-color);
  border-radius: 0.8rem;
  transition: all var(--transition);
  break-inside: avoid;
}

.product:hover {
  box-shadow: 0 0 1rem var(--black-text-color);
}

.product__img {
  width: 100%;
  height: 50%;
  object-fit: contain;
  margin: 1.2rem 0;
  cursor: pointer;
}

.product-info {
  padding: 1.6rem 3.2rem;
  border-top: 1px solid var(--border-color);
}

.product__name {
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}

.product__type {
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
  background-color: var(--primary-text-color);
  color: var(--black-text-color);
  border-radius: 4px;
  width: fit-content;
  padding: 0.4rem 1.2rem;
}

.product__price {
  font-size: 1.8rem;
}

.arrow {
  position: absolute;
  font-size: 3.6rem;
  top: 45%;
  cursor: pointer;
  transition: all var(--transition);
}

.arrow:hover {
  opacity: 0.7;
}

.arrow-left {
  left: 0;
  transform: translateX(100%);
}

.arrow-right {
  right: 0;
  transform: translateX(-100%);
}

.active {
  background-color: var(--black-text-color) !important;
  color: var(--primary-text-color);
}

/* 
  Section About
*/

.section-about {
  padding: 6.4rem 0;
  border-bottom: 2px solid var(--border-color);
}

.heading-primary {
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 3.6rem;
}

.tab {
  box-shadow: 0 0 2rem var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  margin-bottom: 6.4rem;
  padding: 6.4rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
  background: linear-gradient(var(--border-color), var(--background-color));
}

.tab__img {
  width: 100%;
  height: auto;
  border: 2px solid var(--border-color);
  filter: brightness(0.8);
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.8rem;
  text-align: center;
  color: var(--text-color);
}

.tab__title {
  padding: 1.2rem 2.4rem;
  margin-bottom: 2.4rem;
  border: 1px solid var(--border-color);
  width: fit-content;
  background-color: var(--black-text-color);
  font-weight: 400;
}

.tab__content {
  line-height: 1.6;
  color: var(--darker-text-color);
}

.wrapper-benefits {
}

.benefit__description {
  width: 50%;
  margin: 0 auto;
  line-height: 1.65;
  padding-bottom: 2.8rem;
}

.btn {
  display: block;
  background-color: var(--primary-text-color);
  margin: 0 auto;
  padding: 1.2rem 3.6rem;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  font-family: inherit;
  transition: all var(--transition);
}

.btn:hover {
  background-color: var(--border-color);
  box-shadow: 0 0 1rem var(--black-text-color);
  border: 1px solid var(--black-text-color);
  color: var(--primary-text-color);
}

.benefits {
  width: 75%;
  margin: 4.8rem auto 6.4rem;
  columns: 16rem 5;
  text-align: center;
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.6rem;
}

.icon.round-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid var(--primary-text-color);
  border-radius: 50%;
  padding: 2rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  transition: all var(--transition);
}

.icon.round-icon:hover {
  background-color: var(--primary-text-color);
  color: var(--black-text-color);
}

.company-description {
  line-height: 1.65;
  padding-bottom: 6.4rem;
  width: 50%;
  margin: 0 auto;
}

/* 
  Footer
*/

.footer-socials,
.footer-help,
.footer-contact {
  justify-self: center;
  align-self: self-start;
  padding: 3.2rem 0;
}

.footer-socials {
  justify-self: center;
}

.logo.footer-logo {
  display: block;
  margin: 0 auto 1.6rem;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.footer-title {
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 1.6rem;
}

.footer-help ul,
.footer-contact ul {
  list-style: circle;
  padding-left: 1.6rem;
}

.footer-help li,
.footer-contact li {
  font-size: 1.4rem;
  padding-bottom: 1.2rem;
  color: var(--darker-text-color);
}

.footer-link:link,
.footer-link:visited {
  color: var(--darker-text-color);
  text-decoration: none;
  transition: all var(--transition);
}

.footer-link:hover,
.footer-link:active {
  box-shadow: 0 1px 0 var(--primary-text-color);
}

.showLeftToRight {
  animation: showLeftToRight;
  animation-timeline: view(30% auto);
}

.showRightToLeft {
  animation: showRightToLeft;
  animation-timeline: view(20% auto);
}

@keyframes showLeftToRight {
  from {
    transform: translateX(-20rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showRightToLeft {
  from {
    transform: translateX(20rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
    transform: translateY(125%);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}
